<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO'
  crossorigin='anonymous'> <!-- Bootstrap -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script> <!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49'
  crossorigin='anonymous'></script> <!-- Bootstrap -->
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy'
  crossorigin='anonymous'></script> <!-- Bootstrap -->

<body>
  <div class="row">
    <div class="col-10">
      <h2>Post a message on the wall</h2>
    </div>
    <div class="col">
      <button class="btn btn-warning" (click)="sendSocket()" >Test Socket</button>
      <button class="btn btn-primary" *ngIf="!user" [routerLink]="['/login']">Log In</button>
      <button class="btn btn-danger" *ngIf="user" (click)="logout()">Log Out</button>
    </div>
  </div>
  <form class="form" (submit)="newPost()">
    <div class="form-group">
      <label for="post">Post:</label>
      <textarea class="form-control" id="post" rows="3" name="post.post" [(ngModel)]="post.post" placeholder="What's on your mind today?.."></textarea>
    </div>
    <div class="form-group">
      <label for="">Name:</label>
      <input *ngIf="!user" type="text" class="form-control name" name="post.name" [(ngModel)]="post.name" placeholder="Name">
      <input *ngIf="user" type="text" class="form-control name" name="user.name" [(ngModel)]="user.name" disabled>
    </div>
    <p class="red" *ngFor="let flash of postFlash">{{flash}}</p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="post row" *ngFor="let post of posts">
    <div class="col-9">
      <h3>{{post.post}}</h3>
      <h5><img class="thumb" src="assets/thumb-up-icon.png" alt="likes"> {{post.like_count}}</h5>
      <h4>{{post.name}} <small> - {{post.date}}</small></h4>
      <div class="comments row" *ngFor="let comment of post.comments">
        <div class="col-8">
          <h5>{{comment.comment}}</h5>
          <h6>- {{comment.name}}</h6>
        </div>
        <div class="col">
            <button class="btn btn-sm btn-warning" *ngIf="user && (comment.userId == user._id || post.userId == user._id)" (click)="removeComment(comment._id)">Delete</button>
        </div>
      </div>
      <button class="btn btn-sm btn-primary" *ngIf="newComment.post_id != post._id && user" (click)="open(post._id)">Write Comment</button>
      <form class="comment" *ngIf="newComment.post_id == post._id" (submit)="comment()">
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" id="post" rows="2" name="newComment.comment" [(ngModel)]="newComment.comment" placeholder="Comment"></textarea>
        </div>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="user.name" [(ngModel)]="user.name" disabled>
        </div>
        <p class="red" *ngFor="let flash of commentFlash">{{flash}}</p>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col">
      <button class="btn btn-info space" *ngIf="user" (click)="likePost(post._id)">Like!</button>
      <span *ngIf="user">
        <button class="btn btn-warning space" *ngIf="post.userId == user._id" (click)="delete(post._id)">Delete</button>
      </span>
    </div>
  </div>
</body>

<div class="chatRow row">
  <div class="col"></div>
  <div *ngIf="chatRoom" class="col chatBox">
    <div class="row">
      <div class="col">
        <h5><span *ngFor="let name of chatRoom.names">{{name}}</span></h5>
      </div>
      <div class="col-1">
        <img (click)="minimise()" src="assets/minus.png" alt="minus">
      </div>
      <div class="col-2">
        <img (click)="deleteChat()" src="assets/close.png" alt="close">
      </div>
    </div>
    <div id="text" class="text">
      <p *ngFor="let message of chatRoom.messages">{{message.message}}</p>
    </div>
    <div class="row">
      <div class="col">
        <input class="form-control" type="text" placeholder="Say Hi!" (keypress)="instantMessage($event)" [(ngModel)]="newMessage">
      </div>
      <div class="col-3 clean">
        <button class="btn btn-sm btn-primary" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="chats" id="lower">
  <div class="row">
    <div class="col"></div>
    <div *ngFor="let chat of chats" (click)="openChat(chat._id)" class="col chat">
      <div>
        <p>
          <span *ngFor="let name of chat.names">{{name}} </span>
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="users" class="sideBar">
  <h3>Users</h3>
  <div id="users">
    <div *ngFor="let user of users">
      <p (click)="newChat([user._id, user.name])">{{user.name}}</p>
    </div>
  </div>
</div>


<script>
  $('#text').ready(function(){
    $('#text').scrollTop = $('#text').scrollHeight
  })
</script>